@tailwind base;
@tailwind components;
@tailwind utilities;


.body{
  overflow: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: white; 
}
::-webkit-scrollbar-thumb {
  background: lightskyblue; 
  border-radius: 6px; 
}
